<template>
  <div>
    <nuxt/>
  </div>
</template>

<style>
html {
  font-family: "RobotoRegular";
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

html::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: rgb(185,185,185);
}

input{
  outline: none !important;
  padding-right: 3% !important;
}
input:focus::-webkit-input-placeholder {opacity: 0;}
input:focus::-moz-placeholder          {opacity: 0;}/* Firefox 19+ */
input:focus:-moz-placeholder           {opacity: 0;}/* Firefox 18- */
input:focus:-ms-input-placeholder      {opacity: 0;}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>

<style src="../assets/css/font-awesome.css" lang="css"></style>
<style src="../assets/css/roboto.css" lang="css"></style>
