<template>
<div>
	<section class="container" :class="{'color': colorTheme}">
		<header>
			<div class="logo">
				<nuxt-link to="/">
					<img v-show="!colorTheme" src="../assets/img/logo_pink.png" alt="grapple logo">
        			<img v-show="colorTheme" src="../assets/img/logo_white.png" alt="grapple logo">
        		</nuxt-link>
			</div>
			<div class="inputGroup">
				<input type="text" placeholder="Just type...">
				<span class="fa fa-search"></span>
			</div>
			<div class="sort">
				<div class="active" id="popular" @click="addActiveClass('#popular')">
		        	<span>popular</span>
		        </div>
		        <div id="cheap" @click="addActiveClass('#cheap')">
		            <span>cheap</span>
		        </div>
		        <div id="best" @click="addActiveClass('#best')">
		          <span>best rating</span>
		        </div>
		        <div id="new" @click="addActiveClass('#new')">
		          <span>new</span>
		        </div>
			</div>
			<div class="switcher" @click="changeTheme()"><span id="switch"></span></div>
		</header>
		<div class="itemsContainer">
			<div class="info"><span class="fa fa-check"></span> Найдено 375 товаров</div>
			<div class="items">
				<div class="premium">
					<div class="smallItems">
						<div class="item">
							<h3 class="name">Name</h3>
							<h3 class="price">299$</h3>
						</div>
						<div class="item">
							<h3 class="name">Name</h3>
							<h3 class="price">299$</h3>
						</div>
						<div class="item">
							<h3 class="name">Name</h3>
							<h3 class="price">299$</h3>
						</div>
						<div class="item">
							<h3 class="name">Name</h3>
							<h3 class="price">299$</h3>
						</div>
						<div class="item">
							<h3 class="name">Name</h3>
							<h3 class="price">299$</h3>
						</div>
						<div class="item">
							<h3 class="name">Name</h3>
							<h3 class="price">299$</h3>
						</div>
						<div class="item">
							<h3 class="name">Name</h3>
							<h3 class="price">299$</h3>
						</div>
						<div class="item">
							<h3 class="name">Name</h3>
							<h3 class="price">299$</h3>
						</div>
					</div>
					<div class="main">
						<h3 class="name">Name</h3>
						<h3 class="price">299$</h3>
					</div>
				</div>
				<div class="regularItems">
					<div class="item">
						<h3 class="name">Name</h3>
						<h3 class="price">299$</h3>
					</div>
					<div class="item">
						<h3 class="name">Name</h3>
						<h3 class="price">299$</h3>
					</div>
					<div class="item">
						<h3 class="name">Name</h3>
						<h3 class="price">299$</h3>
					</div>
					<div class="item">
						<h3 class="name">Name</h3>
						<h3 class="price">299$</h3>
					</div>
					<div class="item">
						<h3 class="name">Name</h3>
						<h3 class="price">299$</h3>
					</div>
					<div class="item">
						<h3 class="name">Name</h3>
						<h3 class="price">299$</h3>
					</div>
					<div class="item">
						<h3 class="name">Name</h3>
						<h3 class="price">299$</h3>
					</div>
					<div class="item">
						<h3 class="name">Name</h3>
						<h3 class="price">299$</h3>
					</div>
				</div>				
			</div>
		</div>
	</section>
	<section class="mobContainer">
		<header>
			<div class="logo"><img src="../assets/img/logo_mob.png" alt=""></div>
			<div class="inputGroup">
				<input type="text" placeholder="Just Type...">
				<span class="fa fa-search"></span>
			</div>
		</header>
		<div class="itemsContainer">
				<div class="info">735 товаров</div>
				<div class="items">
					<div class="item">
						<h3 class="name">Name</h3>
						<h3 class="price">299$</h3>
					</div>
					<div class="item">
						<h3 class="name">Name</h3>
						<h3 class="price">299$</h3>
					</div>
					<div class="item">
						<h3 class="name">Name</h3>
						<h3 class="price">299$</h3>
					</div>
					<div class="item">
						<h3 class="name">Name</h3>
						<h3 class="price">299$</h3>
					</div>
					<div class="item">
						<h3 class="name">Name</h3>
						<h3 class="price">299$</h3>
					</div>
					<div class="item">
						<h3 class="name">Name</h3>
						<h3 class="price">299$</h3>
					</div>
				</div>
			</div>
	</section>
</div>
</template>

<script>
import $ from 'jquery'

export default {
  data: function () {
    return {
      colorTheme: false
    }
  },
  methods: {
    changeLang: function (id) {
      $('.lang.active').removeClass('active')
      $(id).addClass('active')
    },
    addActiveClass: function (id) {
      $('div.active').removeClass('active')
      $(id).addClass('active')
    },
    changeTheme: function () {
      if (!this.colorTheme) {
        $('#switch').animate({left: '80%'}, 800)
        this.colorTheme = true
      } else {
        $('#switch').animate({left: '0'}, 800)
        this.colorTheme = false
      }
    }
  }
}
</script>

<style scoped>
	.container {
	  transition: .5s;
	  min-height: 100vh;
	  background: rgb(245,245,245);
	}
	.container.color{
		transition: .5s;
		background: white;
	}
	.container.color header{
	  transition: .5s;
	  background: rgb(255,61,148);
	}
	header{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 99;
		padding: 2vh 3%;
		background: white;
		-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
	}
		header .logo{
			vertical-align: middle;
			display: inline-block;
			padding: 1vh;
			width: 10%;
		}
			header .logo img{
			width: 100%;
			}
		header .inputGroup{
			position: relative;
			vertical-align: middle;
			display: inline-block;
			width: 32%;
			margin-right: 3%;
			margin-left: 4%;
		}
			header .inputGroup input{
				border: 0;
			    border-bottom: 1px solid rgb(30,30,30);
			    font-size: 18px;
			    color: rgb(30,30,30);
			    padding: 5px 0;
			    width: 100%;
			    background: none;
			}
			.container.color header .inputGroup input{
				color: rgb(245,245,245);
				border-color: rgb(245,245,245);
			}

			::-webkit-input-placeholder {color: rgb(185,185,185);}
			::-moz-placeholder          {color: rgb(185,185,185);}/* Firefox 19+ */
			:-moz-placeholder           {color: rgb(185,185,185);}/* Firefox 18- */
			:-ms-input-placeholder      {color: rgb(185,185,185);}

			.container.color ::-webkit-input-placeholder {color: rgb(245,245,245);}
			.container.color ::-moz-placeholder          {color: rgb(245,245,245);}/* Firefox 19+ */
			.container.color :-moz-placeholder           {color: rgb(245,245,245);}/* Firefox 18- */
			.container.color :-ms-input-placeholder      {color: rgb(245,245,245);}
			header .inputGroup .fa{
				position: absolute;
				right: 0;
				top: 3px;
				font-size: 22px;
				font-weight: lighter;
				color: rgb(30,30,30);
			}
			.container.color header .inputGroup .fa{
				color: rgb(245,245,245);
			}
		header .sort{
			vertical-align: middle;
			display: inline-block;
			text-align: center;
			width: 45%;
    		padding: 0 1%;
		}
			header .sort div{
				white-space: nowrap;
				cursor: pointer;
				display: inline-block;
				padding: 5px 5%;
				margin-right: 2%;
				color: rgb(30,30,30);
			}
			.container.color header .sort div{
				color: rgb(245,245,245);
			}
			header .sort div.active{
				background: white;
				-webkit-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.07);
				-moz-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.07);
				box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.07);
			}
			.container.color header .sort div.active{
				background: rgb(255,61,148);
				-webkit-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.3);
				-moz-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.3);
				box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.3);
			}
	.switcher{
	  cursor: pointer;
	  position: relative;
	  display: inline-block;
	  width: 56px;
	  height: 10px;
	  border-radius: 5px;
	  background: rgb(225,225,225);
	}
	.container.color .switcher{
	  background: rgb(218, 62, 121);
	}
	.switcher span{
	  position: absolute;
	  left: 0;
	  top: -4px;
	  height: 17px;
	  width: 17px;
	  border-radius: 10px;
	  background: white;
	  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
	  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
	  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
	}
	.container.color .switcher span{
	  background: rgb(255,61,148);
	}

	.itemsContainer{
		margin-top: 11vh;
		padding: 0 15% 0 16.3%;
		width: 100%;
	}
	.info{
		padding: 5vh 0 3vh 0;
		color: rgb(30,30,30);
	}
	.info .fa{
		color: rgb(255,61,148);
		font-size: 24px;
	}
	.items .premium{
		position: relative;
		margin-bottom: 5vh;
	}
	.items .premium .smallItems{
		display: inline-block;
		width: 70%;
		height: 420px;
		overflow: hidden;
	}
	.items .premium .smallItems .item{
		position: relative;
		display: inline-block;
		width: 190px;
		margin-right: 3%;
		margin-bottom: 20px;
		background: rgb(255,61,148);
		height: 190px;
	}
	.items .premium .main{
		position: absolute;
		right: 0;
		top: 0;
		width: 30%;
		height: 400px;
		background: rgb(255,61,148);
	}
	.items .regularItems .item{
		position: relative;
		display: inline-block;
		width: 23%;
		margin-right: 2.6%;
		margin-bottom: 20px;
		background: rgb(255,61,148);
		height: 300px;
	}
	.items .regularItems .item:nth-child(4n){
		margin-right: 0;
	}
	.name{
		position: absolute;
		top: 8px;
		left: 20px;
		font-family: "RobotoBold";
		font-size: 24px;
		color: rgb(245,245,245);
	}
	.price{
		position: absolute;
		bottom: 10px;
		left: 20px;
		font-family: "RobotoBold";
		font-size: 22px;
		color: rgb(245,245,245);
	}
	.mobContainer{
	   display: none;
	}

@media screen and (max-width: 920px) and (min-width: 320px) {
    .container{
      display: none;
    }
    .mobContainer{
      display: block;
      min-height: 100vh;
      background: rgb(245,245,245);
    }
    .mobContainer header{
    	position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		background: rgb(245,245,245);
		z-index: 99;
		padding: 0 9%;
		-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    }
    .mobContainer header .logo{
    	width: 18%;
    	padding-top: 4vh;
    }
    .mobContainer header .inputGroup{
    	width: 76%;
    	margin-right: 0;
    }
    .mobContainer header input{
    	font-size: 15px;
    }
    .mobContainer header .fa{
    	top: 5px;
    	font-size: 18px;
    }
    .mobContainer .info{
    	text-align: center;
    }
    .mobContainer .itemsContainer{
		margin-top: 12vh;
		padding: 0 10% 0 10%;
		width: 100%;
	}
	.mobContainer .itemsContainer .items{
		margin-top: 3vh;
	}
	.mobContainer .itemsContainer .items .item{
		position: relative;
		display: inline-block;
		width: 48%;
		margin-right: 4%;
		margin-bottom: 2vh;
		background: rgb(255,61,148);
		height: 27vh;
	}
	.mobContainer .itemsContainer .items .item:nth-child(2n){
		margin-right: 0;
	}
}
</style>