<template>

<div>

  <section class="container" :class="{'color': colorTheme}">

    <header id="header" class="">
      <div class="img">
        <img v-show="!colorTheme" src="../assets/img/logo_pink.png" alt="grapple logo">
        <img v-show="colorTheme" src="../assets/img/logo_white.png" alt="grapple logo">
      </div>
      <div class="headerItems">
        <a id="rus" class="lang active" @click="changeLang('#rus')">RUS</a>
        <a id="eng" class="lang" @click="changeLang('#eng')">ENG</a>
        <div class="switcher" @click="changeTheme()"><span id="switch"></span></div>
      </div>
    </header><!-- /header -->

    <div class="searchContainer">
      <div class="inputGroup">
        <input type="text" placeholder="What's next?">
        <nuxt-link to="/catalog"><span class="fa fa-search"></span></nuxt-link>
      </div>
    </div>

    <div class="searchHelper">
      <p class="name">How to find</p>
      <div id="bike" class="active" @click="addActiveClass('#bike')">
        <span class="fa fa-bicycle"></span>
        <p>bike</p>
      </div>
      <div id="heart" @click="addActiveClass('#heart')">
        <span class="fa fa-heart"></span>
        <p>health</p>
      </div>
      <div id="photo" @click="addActiveClass('#photo')">
        <span class="fa fa-photo"></span>
        <p>photo</p>
      </div>
      <div id="mobile" @click="addActiveClass('#mobile')">
        <span class="fa fa-mobile"></span>
        <p>phones</p>
      </div>
      <div id="laptop" @click="addActiveClass('#laptop')">
        <span class="fa fa-laptop"></span>
        <p>computers</p>
      </div>
    </div>

    <footer></footer>

  </section>
  
  <section class="mobContainer">
    <div class="logo">
      <img src="../assets/img/logo_pink.png" alt="">
    </div>

    <div class="mobInputGroup">
      <input type="text" placeholder="What's next?">
      <nuxt-link to="/catalog"><span class="fa fa-search"></span></nuxt-link>
    </div>
    <p class="name">How to find ?</p>
    <div class="searchHelper">
      <div id="mobbike" @click="addActiveClass('#mobbike')">
        <span class="fa fa-bicycle"></span>
        <p>bike</p>
      </div>
      <div id="mobphoto" @click="addActiveClass('#mobphoto')">
        <span class="fa fa-photo"></span>
        <p>photo</p>
      </div>
      <div id="mobmobile" @click="addActiveClass('#mobmobile')">
        <span class="fa fa-mobile"></span>
        <p>phones</p>
      </div>
      <div id="moblaptop" @click="addActiveClass('#moblaptop')">
        <span class="fa fa-laptop"></span>
        <p>computers</p>
      </div>
    </div>
  </section>

</div>
  

</template>

<script>
import $ from 'jquery'
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data: function () {
    return {
      colorTheme: false
    }
  },
  computed: {
  },
  methods: {
    changeLang: function (id) {
      $('.lang.active').removeClass('active')
      $(id).addClass('active')
    },

    addActiveClass: function (id) {
      $('div.active').removeClass('active')
      $(id).addClass('active')
    },

    changeTheme: function () {
      if (!this.colorTheme) {
        $('#switch').animate({left: '80%'}, 800)
        this.colorTheme = true
      } else {
        $('#switch').animate({left: '0'}, 800)
        this.colorTheme = false
      }
    }
  }
}
</script>

<style>
.container {
  transition: .5s;
  min-height: 100vh;
  background: rgb(245,245,245);
}
.container.color{
  transition: .5s;
  background: rgb(255,61,148);
}

#header{  
  width: 100%;
  padding: 8vh 5%;
  display: flex;
  justify-content: space-between;
}

.headerItems{
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .img{
  width: 13%;
}

#header .img img{
  width: 100%;
}

a.lang{
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
  font-size: 12px;
  padding: 11.5px 8px;
  margin-right: 7%;
  color: rgb(30,30,30);
  font-weight: bold;
}
.container.color a.lang{
  font-family: "RobotoMedium";
  color: rgb(245,245,245);
}
a.lang:hover{
  text-decoration: underline;
}
a.lang.active{
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.07);
  box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.07);
  text-decoration: none !important;
}
.container.color a.lang.active{
  background: none;
  -webkit-box-shadow: 0px 10px 22px 2px rgba(0,0,0,0.09);
  -moz-box-shadow: 0px 10px 22px 2px rgba(0,0,0,0.09);
  box-shadow: 0px 10px 22px 2px rgba(0,0,0,0.09);
}
.switcher{
  cursor: pointer;
  margin-left: 20px;
  position: relative;
  display: inline-block;
  width: 75px;
  height: 10px;
  border-radius: 5px;
  background: rgb(225,225,225);
}
.container.color .switcher{
  background: rgb(218, 62, 121);
}
.switcher span{
  position: absolute;
  left: 0;
  top: -4px;
  height: 17px;
  width: 17px;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
}
.container.color .switcher span{
  background: rgb(255,61,148);
}
.searchContainer .inputGroup{
  position: relative;
  width: 100%;
  padding: 7vh 0;
  display: flex;
  justify-content: center;
}

.searchContainer .inputGroup input{
  border: 0;
  border-bottom: 2px solid rgb(30,30,30);
  font-size: 24px;
  color: rgb(30,30,30);
  padding: 10px 0;
  width: 35%;
  background: none;
}

.container.color .searchContainer .inputGroup input{
  border-color: white;
  color: white;
}

::-webkit-input-placeholder {color: rgb(185,185,185);}
::-moz-placeholder          {color: rgb(185,185,185);}/* Firefox 19+ */
:-moz-placeholder           {color: rgb(185,185,185);}/* Firefox 18- */
:-ms-input-placeholder      {color: rgb(185,185,185);}

.container.color ::-webkit-input-placeholder {color: rgb(245,245,245);}
.container.color ::-moz-placeholder          {color: rgb(245,245,245);}/* Firefox 19+ */
.container.color :-moz-placeholder           {color: rgb(245,245,245);}/* Firefox 18- */
.container.color :-ms-input-placeholder      {color: rgb(245,245,245);}

.inputGroup .fa{
  position: absolute;
  right: 32.5%;
  top: 8vh;
  font-size: 28px;
  font-weight: lighter;
  color: rgb(30,30,30);
}

.container.color .inputGroup .fa{
  color: rgb(245,245,245);
}
.searchHelper{
  padding: 7vh 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.searchHelper div{
  transition: .3s;
  cursor: pointer;
  width: 120px;
  height: 120px;
  text-align: center;
  color: rgb(40,40,40);
  margin-right: 2%;
}
.container.color .searchHelper div{
  color: rgb(245,245,245);
}
.searchHelper div p{
  font-size: 14px;
}
.container.color .searchHelper div p{
  opacity: 0;
}
.searchHelper :last-child{
  margin-right: 0;
}
.searchHelper div:hover .fa{
  transition: .3s;
  color: rgb(255,61,148);
}
.container.color .searchHelper div:hover .fa{
  color: white;
}
.container.color .searchHelper div:hover p{
  transition: .3s;
  opacity: 1;
}
.searchHelper div.active{
  -webkit-box-shadow: 0px 55px 113px 12px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 55px 113px 12px rgba(0,0,0,0.1);
  box-shadow: 0px 55px 113px 12px rgba(0,0,0,0.1);
}
.searchHelper div.active .fa{
  color: rgb(255,61,148);
}
.container.color .searchHelper div.active{
  -webkit-box-shadow: 0px 55px 113px 12px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 55px 113px 12px rgba(0,0,0,0.3);
  box-shadow: 0px 55px 113px 12px rgba(0,0,0,0.3);
}
.container.color .searchHelper div.active .fa{
  color: white;
}
.container.color .searchHelper div.active p{
  opacity: 1;
}
.searchHelper div .fa{
  font-size: 38px;
  margin: 27px 0;
}

.searchHelper .name{
  font-family: "RobotoMedium";
  position: absolute;
  left: 5.5%;
  top: 64.5%;
  color: rgb(30,30,30);
}
.container.color .searchHelper .name{
  color: rgb(245,245,245);
}
.mobContainer{
  display: none;
}

@media screen and (max-width: 920px) and (min-width: 320px) {
    .container{
      display: none;
    }
    .mobContainer{
      display: block;
      min-height: 100vh;
      background: rgb(245,245,245);
    }
    .logo{
      padding-top: 16vh;
      width: 40%;
      margin-left: 30%; 
    }
    .logo img{
      width: 100%;
    }
    .mobInputGroup{
      position: relative;
      width: 70%;
      margin-top: 8vh;
      margin-left: 15%;
    }
    .mobInputGroup input{
      border: 0;
      border-bottom: 2px solid rgb(30,30,30);
      font-size: 18px;
      color: rgb(30,30,30);
      padding: 10px 0;
      width: 100%;
      background: none;
    }
    .mobInputGroup .fa{
      position: absolute;
      right: 0;
      top: 11px;
      font-size: 20px;
      color: rgb(30,30,30) !important;
    }
    .name{
      position: static;
      text-align: center;
      font-size: 14px;
      width: 100%;
      margin: 8vh 0 0 0;
    }
    .searchHelper{
      padding: 4vh 0;
      position: relative;
      display: block;
      width: 70%;
      margin-left: 15%;
    }
    .mobContainer .searchHelper div{
      transition: .3s;
      cursor: pointer;
      display: inline-block;
      width: 47%;
      height: 15vh;
      text-align: center;
      color: rgb(40,40,40);
      margin-right: 6%;
    }
    .searchHelper div.active{
      box-shadow: none;
    }
    .searchHelper div.active .fa{
      color: rgb(255,61,148);
    }
    .searchHelper div .fa{
      font-size: 34px;
      margin: 10px 0;
    }
    .mobContainer .searchHelper :nth-child(2n){
      margin-right: 0;
    }
    .mobContainer .searchHelper :nth-child(3n){
      margin-top: 30px;
    }
}
</style>
